.card{
    border: none;
}
.images{
    display: flex;
    justify-content: center;
}
.mbtn{
    display: flex;
    justify-content: center;
}
.hidingbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 0px;
    text-align: center;
    top: 0px;
}
a{
    text-decoration: none;
    color: white;
}
.mainbox{
    position: relative;
    height: 100%;
}
.mainbox:hover .hidingbox{
    opacity: 0.6;
    background-color: black;
    height: 100%;
    transition: 1s;
}
h1, h5{
    text-align: center;
}
.features div{
    text-align: center;
}
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.label{
    margin-right: 10px;
}
.navicon{
    width: 15px;
    margin: 0px 0px 0px 15px;
}
.img{
    text-align: center;
}
.logobtn{
    display: flex;
    justify-content: space-between;
}
.position{
    position: absolute;
    top: 0px;
    right: 0px;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.circle img{
    width: 40px;
    margin: 20px;
}
@media screen and (max-width: 1500px) {
    .images{
        display: flex;
        flex-direction: column;
    }
    .mainbox img{
        width: 100%;
    }
    .mainbox:hover .hidingbox{
        opacity: 0.6;
        background-color: black;
        height: 100%;
        transition: 1s;
    }
    .card-text{
        font-size: 10px;
    }
}
@media screen and (max-width: 992px) {
    .navicon{
        display: none;
    }
    .navbar-toggler{
        display: flex;
        justify-self: end;
    }
}
@media screen and (max-width: 356px) {
    .mainbox:hover .hidingbox{
        opacity: 0;
        background-color: black;
        height: 100%;
        transition: 0.1s;
    }
}